[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.2.1"
pandas = "==1.0.3"
gunicorn = "==20.0.4"
numpy = "==1.18.4"
seaborn = "==0.10.1"
lxml = "==4.9.1"
dash = "*"
dash-bootstrap-components = "*"
plotly = "*"
visdcc = "*"
dash-daq = "*"
Flask = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.7"
